{% sw_extends '@Storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    {% block page_account_credential %}
        <div class="account-credential">
            {% block page_account_credential_welcome %}
                <div class="account-welcome">
                    {% block page_account_credential_welcome_headline %}
                        <h1>{{ "reply-web-authn.account.credentialTitle"|trans }}</h1>
                    {% endblock %}

                    {% block page_account_credential_welcome_intro %}
                        <p>{{ "reply-web-authn.account.credentialText"|trans }}</p>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_account_credential_main %}
                {% block page_account_credential_list %}
                    {% if page.getCredentials() is empty %}
                        {% sw_include '@Storefront/utilities/alert.html.twig' with {
                            type: "info",
                            content: "reply-web-authn.account.credentialEmpty"|trans
                        } %}
                    {% else %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Erstellt am</th>
                                    <th>Letzter Login</th>
                                    <th>Aktionen</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for credential in page.getCredentials() %}
                                {% set credential = credential.jsonSerialize() %}
                                    {#<pre>{{ credential|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>#}
                                    <tr>
                                        <td>{{ credential.name }}</td>
                                        <td>{{ credential.createdAt }}</td>
                                        <td>{{ credential.updatedAt }}</td>
                                        <td>
                                            <form action="{{ path('frontend.account.webauthn.credential.delete.one', {credentialId: credential.publicKeyCredentialId}) }}" method="post">
                                                <button type="submit"
                                                        class="btn btn-danger btn-sm"
                                                        title="{{ "reply-web-authn.account.credentialDelete"|trans }}">
                                                    {% sw_icon 'lock-key' %} {{ "reply-web-authn.account.credentialDelete"|trans }}
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endblock %}
                {% block page_account_credential_actions %}
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <button class="btn btn-primary btn-sm account-credential-create"
                                    type="button"
                                    title="{{ "reply-web-authn.account.credentialCreate"|trans }}"
                                    data-create-credential="true">
                                {{ "reply-web-authn.account.credentialCreate"|trans }}
                            </button>
                        </div>
                        <div class="col-auto">
                            <form style="margin-left: .5rem;" action="{{ path('frontend.account.webauthn.credential.delete.all') }}" method="post">
                                <button class="btn btn-danger btn-sm"
                                        type="submit"
                                        title="{{ "reply-web-authn.account.credentialDeleteAll"|trans }}">
                                    {{ "reply-web-authn.account.credentialDeleteAll"|trans }}
                                </button>
                            </form>
                        </div>
                    </div>

                {% endblock %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
