{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    {% block page_account_credential %}
        <div class="account-credential">
            {% block page_account_credential_welcome %}
                <div class="account-welcome">
                    {% block page_account_credential_welcome_headline %}
                        <h1>{{ "reply-web-authn.account.credentialTitle"|trans }}</h1>
                    {% endblock %}

                    {% block page_account_credential_welcome_intro %}
                        <p>{{ "reply-web-authn.account.credentialText"|trans }}</p>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_account_credential_main %}
                {% block page_account_credential_list %}
                    {% if page.getCredentials() is empty %}
                        {% block page_account_credential_empty_state %}
                            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                type: "info",
                                content: "reply-web-authn.account.credentialEmpty"|trans
                            } %}
                        {% endblock %}
                    {% else %}
                        {% block page_account_credential_table %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>{{ "reply-web-authn.account.credentialColumns.name"|trans }}</th>
                                    <th>{{ "reply-web-authn.account.credentialColumns.registeredAt"|trans }}</th>
                                    <th>{{ "reply-web-authn.account.credentialColumns.actions"|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for credential in page.getCredentials() %}
                                    {% set credential = credential.jsonSerialize() %}
                                    <tr>
                                        <td>{{ credential.name }}</td>
                                        <td>{{ credential.createdAt|date }}</td>
                                        <td>
                                            <form action="{{ path('frontend.account.webauthn.credential.delete.one', {credentialId: credential.publicKeyCredentialId}) }}"
                                                  method="post"
                                                  data-form-csrf-handler="true">

                                                {% block page_account_credential_actions_delete_one_csrf %}
                                                    {{ sw_csrf('frontend.account.webauthn.credential.delete.one') }}
                                                {% endblock %}

                                                <button type="submit"
                                                        class="btn btn-danger btn-sm"
                                                        title="{{ "reply-web-authn.account.credentialDelete"|trans }}">
                                                    {% sw_icon 'lock-key' %} {{ "reply-web-authn.account.credentialDelete"|trans }}
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endblock %}
                    {% endif %}
                {% endblock %}

                {% block page_account_credential_actions %}
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <button class="btn btn-primary btn-sm account-credential-create"
                                    type="button"
                                    title="{{ "reply-web-authn.account.credentialCreate"|trans }}"
                                    data-create-credential="true">
                                {% sw_icon 'lock-key' %} {{ "reply-web-authn.account.credentialCreate"|trans }}
                            </button>
                        </div>
                    </div>
                {% endblock %}

            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
